.home-module-8 {
  text-align: center;
  padding: 6.5em 1em;

  h2 {
    margin-top: 0;
    font-size: 30px;
  }

  a {
    margin-top: 2em;
    display: block;
  }

  @media screen and (max-width: $screen-sm-max) {
    padding: 3em 0;
    
    h2 {
      font-size: 22px;
      @include raleway();
    }

  }
}