.home-module-3 {
  background: #151516;
  overflow: hidden;
  color: #fff;

  h2 ul.expand {
    display: none;
    font-size: 16px;

    li {
      margin-bottom: .5em;
    }
  }

  p.blurb {
    font-size: 30.25px;
    margin-bottom: 1em;
    @include raleway();
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.5;
  } 

  h5 {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 2em;
    font-size: 17px;

    .arrow {
      color: $sherpa-secondary-color;
      font-style: normal;
      font-weight: bold;
    }
  }

//   p.blurb {
//     font-size: 31px;
//     font-family: 'Poppins', sans-serif;
//     line-height: 1.5;
//     font-weight: 300;
//     color: #1A1A1A;
//   }

  @media screen and (min-width: $screen-md-min) {
      
    

    .bg-side {
      overflow: visible;
      
//       &::after {
//         background: url('../img/years.png') right 0 no-repeat;
//         background-size: cover;
//         content: '';
//         width: 25vw;
//         height: 100%;
//         display: block;
//         top: 0;
//         left: 0;
//         position: absolute;
//         z-index: -1;
//       }
    }
  }

  @media screen and (max-width: $grid-float-breakpoint-max) {
      padding-top: 212px;

      img {
        top: -230px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 290px;
        width: auto;
      }
  }

  @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    img { 
     width: 320px;
     margin: 0 auto;
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    text-align: center;
    padding-bottom: 0;


    h4 {
      font-size: 19px;
      line-height: 1.5;
      padding: 0 2em .5em;
    }

    h5 {
      font-size: 12px;
    }

    p {
      font-size: 15px;
    }

    p.blurb {
      font-size: 19px;
      margin-bottom: 1em;
      line-height: 1.5;
    }

    .row {
      display: flex;
    }
  }
}