.home-module-10 {
  color: $white;
  text-align: center;
  padding: 6em 0;
  background: #000;

  h2 {
    color: $white;
    margin-top: 0;
    font-size: 30px;
    @include raleway();
  }

  strong {
    font-size: 20px;
    margin-bottom: 1em;
    display: block;
  }

  a {
    margin-top: 2em;
    display: block;
  }

  @media screen and (max-width: $screen-sm-max) {
    padding: 2em 0 3em;

    .extra-padding {
       padding:  0 15px;
    }

    h2 {
      font-size: 18px;
      @include raleway();
    }

    p {
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 500;
    }

    strong {
      margin-top: 2em;
      margin-bottom: 2em;
      display: block;
      font-size: 19px;
      @include raleway();
    }
  }
}