.home-module-5 {
  background-size: cover;
  overflow: hidden;

  h2 {
    font-size: 30px;
  }

  p {
    margin-bottom: 1em;
  }

  p.blurb {
    font-size: 21px;
    color: #898989;
  }

  .bg-construction {
    &:after {
     background: url('../img/bg-construction.jpg') 0 0 no-repeat;
     background-size: cover;
     content: '';
     display: block;
     position: absolute;
     left: 0;
     height: 100%;
     width: 50vw;
    }
  }

  @media screen and (min-width: $screen-md-min) {
    .col-md-6:first-child {
      padding: 5.5em 0;
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    text-align: center;
    font-size: 31px;
    padding: 1em 0 0;

    h2 {
      font-size: 22px;
      
    }

    p.blurb {
      font-size: 18px;
      line-height: 1.75;
    }

    p {
      line-height: 1.75;
      margin-bottom: 1em;
      color: #606060;
      font-size: 15px;
    }

    img {
      margin: 1em auto 0;
    }
  }
}