.home-module-4 {
  background: url('../img/bg-wind.jpg') 0 100% no-repeat;
  background-size: cover;
  color: $white;

  h2 {
    color: $white;
    font-size: 30px;
  }

  .col-md-5:last-child {
    height: 631px;
    padding-bottom: 4em;
    justify-content: flex-end;
  } 

  @media screen and (max-width: $screen-sm-max) {

    background: url('../img/bg-wind-mobile.jpg') 0 bottom no-repeat;
    background-size: cover;
    
    .col-md-5:last-child {
      padding: 2em 30px;
      text-align: center;
      height: auto;
    } 

    h2 {
      font-size: 19px;
      font-weight: 400;
    }

    p {
      font-weight: 500;
    }

  }
}