.ribbon {
  background: #000;
  text-align: center;
  margin-bottom: 0;
  padding: 1.75em 0;

  p {
    color: $white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin: 0 calc(20px + 1em) 0 0;
    display: inline;

    a {
      color: $white;
      font-size: 18px;
      letter-spacing: 2px;
    }

    &::after {
      content: '';
      display: inline-block;
      width: 24px;
      height: 24px;
      @include svg-chevron(999);
      background-repeat: no-repeat;
      margin-left: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  em {
    font-family: moderno-fb, serif;
    color: $white;
    font-size: 22px;
    margin-left: 1.6em;

    .brand {
      font-style: italic;
      font-family: moderno-fb, serif;
    }
  }

  .ribbon-em {
    font-size: 28px;

    sup {
      font-size: 32px;
    }

    .brand {
      font-size: 54px;
    }

    margin-right: 47px;
  }

  @media screen and (max-width: $screen-sm-max) {

    padding: 2em 0;

    .ribbon-em {
      margin: 0 0;
      font-size: 25px;
    }
    
    p, p a {
      font-size: 9px;

      &::after {
        width: 14px;
        height: 14px;
      }
    }

    em {
      font-size: 12px;
    }
  }
}